*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    height: 100%;
}

#header{
    text-align: center;
    padding: 20px;
    background-color: lightgrey;
}
#main{
    position: relative;
    width: 100%;
    height: 100%;
}
#aside{
    position: absolute;
    width: 20%;
    height: 100%;
    left: 2%;
    padding-top: 10px;
    padding-right: 5px;
    margin-top: 10px;
    border-right: 1px solid lightgray;
    /*padding-left: 3%;*/
    /*padding-right: 3%;*/
}

#aside>ul{
    padding-top: 30px;
}
#aside>ul>li{
    margin-left: 20px;
    font-size: 20px;
    line-height: 2em;
}

#article{
    position: absolute;
    width: 75%;
    right: 2%;
}
.imgP{
    margin-top: 10px;
    margin-bottom: 10px;
}

img{
    float: left;
    width: 20%;
}
p{
    float: right;
    left: 1%;
    width: 78%;
    font-size: 18px;

}
.clearfix:after{
    content: '.';
    display: block;
    clear:both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.clearfix{
    border: 1px solid lightgrey;
    padding: 10px;
    margin: 10px;
}



