*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    height: 100%;
}

#header{
    text-align: center;
    padding: 20px;
    background-color: lightgrey;
}
#main{
    position: relative;
    width: 100%;
    /*height: 100%;*/
}
#aside{
    position: absolute;
    width: 20%;
    height: 100%;
    left: 2%;
    padding-top: 10px;
    padding-right: 5px;
    margin-top: 10px;
    border-right: 1px dotted lightgray;
}

#aside>div>ul{
    padding-top: 30px;
}
#aside>div>ul>li{
    margin-left: 20px;
    font-size: 20px;
    line-height: 2em;
}
#form{
    width: 100%;
}

.label{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#emailInp{
    width: 79%;
    height: 40px;
}
#emailSub{
    width: 80%;
    height: 40px;
}
#article{
    position: absolute;
    width: 75%;
    right: 2%;
}
.imgP{
    margin-top: 10px;
    margin-bottom: 10px;
}

img{
    float: left;
    width: 20%;
}
p{
    float: right;
    left: 1%;
    width: 78%;
    font-size: 18px;
    text-align: justify;

}
.clearfix:after{
    content: '.';
    display: block;
    clear:both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.clearfix{
    border: 1px solid lightgrey;
    padding: 10px;
    margin: 10px;
}
@media screen and (max-width:450px) {
    #header{
        /*width: 100%;*/
        text-align: center;
        padding: 10px;
        background-color: lightgrey;
    }
    #main{
        position: relative;
        width: 100%;
        /*height: 100%;*/
    }
    #aside{
        position: relative;
        width: 100%;
        height: 360px;
        padding-top: 10px;
        /*padding-right: 5px;*/
        margin-top: 10px;
        /*border-right: 1px dotted lightgray;*/
    }

    #aside>ul{
        padding-top: 30px;
    }
   h2{
        font-size: 18px;
    }
    #aside>div>ul>li{
        margin-left: 16px;
        font-size: 14px;
        line-height: 2em;
    }
    #asideNav{
        position: absolute;
        padding-top: 2%;
        padding-left: 6%;
        padding-right: 2%;
        width: 30%;
        left: 0;
        top: 0;

    }
    #asidePart02{
        position: absolute;
        width: 56%;
        padding: 2%;
        right: 0;
        top: 0;
    }
    /*#asidePart02>form>.label{*/
        /*display: flex;*/
        /*justify-content: center;*/
        /*align-content: center;*/
    /*}*/
    form>input{
        border: 1px solid lightgrey;
    }
    #asidePart02>#signUp>h2{
        text-align: center;
        padding-right: 16%;
        font-size: 18px;
    }
    .label{
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #emailInp{
        width: 90%;
        height: 30px;
    }
    #emailSub{
        width: 90%;
        height: 30px;
    }
    /*#aside:after{*/
        /*content: '.';*/
        /*display: block;*/
        /*clear:both;*/
        /*height: 0;*/
        /*overflow: hidden;*/
        /*visibility: hidden;*/
    /*}*/
    #article{
        /*position: absolute;*/
        width: 100%;
        right: 0%;
    }
    img{
        width: 40%;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    p{
        float: none;
        left: 0%;
        width: 100%;
        font-size: 12px;

    }
}



